~[frame_type:none]<!DOCTYPE html>
<html>
<head>
<title>~[text:psx.html.admin.home.start_page]</title>
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
~[if#mdistrict.pref.mobilepages_enable=1]
<script language="JavaScript">
var pref=1;
if (top.location!= self.location) {
	top.location = self.location.href;
}
</script>
~[if#muser.pref.mobile_access-U~[x:users_dcid]=1]
~[if#mschool.prefschool.mobiledisable_admin=1][else#mschool]
<script language="JavaScript" src="/scripts/mobile/detectMobileWebkit.js"></script>
[/if#mschool]
[/if#muser]
[/if#mdistrict]
~[if#userPref.prefuser.smartsearch_enable=1]
    ~[if#districtPref.pref.smartsearch_enable=1]
        <script>var smartSearch = true;</script>
     [/if#districtPref]
[/if#userPref]
~[wc:commonscripts]
</head>

<body>
~[wc:admin_header_css]<!-- breadcrumb tag starts in header_css -->
~[wc:admin_navigation_css]

<!-- start of search menu -->
<h1>~[text:psx.html.admin.home.start_page]</h1>
<div id="temp-loading" class="hide">
    <ul class="tabs">
        <li class="selected"><a href="/admin/home.html">~[text:psx.html.admin.home.students]</a></li>
        <li><a href="/admin/faculty/search.html">~[text:psx.html.admin.home.staff]</a></li>
        <li><a href="/admin/guardians/search.html">~[text:psx.html.admin.home.parents]</a></li>
    </ul>
<div data-ng-controller="studentSearchController" 
	data-require-path="components/powersearch/index" 
	data-module-name="powerSearchModule">
	<div id="search-students" data-ng-class="{ district:studentCtrlData.isDist, school:!studentCtrlData.isDist}">
    <!-- * * * * * * * * * * * * * * * *  Search Students  * * * * * * * * * * * * * * * * -->
        <!-- directive: requireCss /images/css/searchscreen.css -->
            <fieldset id="ssAutoComplete" class="search-parameters">
                <div>
                    <input id="studentSearchInput" type="text" data-ng-model="studentCtrlData.searchString" data-pss-auto-complete/>
                    
                    <button data-ng-click="clickSearchButton()" id="searchButton" class="executeButton search"><em>&nbsp;</em></button>
                    <input id="toggleMode" type="checkbox" data-ng-change="advancedModeHandler()" data-ng-model="studentCtrlData.advancedMode"/><label for="toggleMode">~[text:psx.html.admin.home.advanced]</label>
                    <a href="/admin/fields/fieldlist_yui.html?inf=studentSearchInput&search=y" class="dialogR" title="~[text:psx.html.admin_fields.fieldlist_yui.field_list]">~[text:psx.html.admin.home.view_field_list]</a>
                    <a href="javascript:helpwindow('/admin/help/how_to/st_01_student_search.html#inline_view_field_list')" id="searchHelp1">~[text:psx.html.admin.home.help1]</a>
                </div>
    
                <div>
                    <a data-ng-repeat="letter in studentCtrlData.nameLetters" data-ng-click="quickLinkSearchOrSelect(letter)" id="selectStudents_{{letter}}">{{letter}}</a>
                </div>
                <div>
                    ~[selectbygrade]
                    <a id="selectMaleStudents" data-ng-click="quickLinkSearchOrSelect('gender=m')">~[text:psx.html.admin.home.m1]</a>
                    <a id="selectFemaleStudents" data-ng-click="quickLinkSearchOrSelect('gender=f')">~[text:psx.html.admin.home.f1]</a>
                    <a id="selectAllStudents" data-ng-click="quickLinkSearchOrSelect('')">~[text:psx.html.admin.home.all]</a>
                    <a href="/admin/storedsearches/" id="storedSearches" target="_top">~[text:psx.html.admin.home.stored_searches]</a>
                    <a href="/admin/storedselections/home.html?table=1&selection=adminhome" id="storedSelections" target="_top">~[text:psx.html.admin.home.stored_selections]</a>
                </div>
                <!-- end of search menu -->
                ~[if#userPref.prefuser.smartsearch_enable=1]
                    <input type="hidden" name="searchContext" id="searchContext" value="student">
                    <input type="hidden" id="noLunchStatus" value="~[displaypref:nolunchstatus]">
                    <input type="hidden" id="pageResults" value="~[displayprefuser:smartsearch_pageresults]">
                    <input type="hidden" id="inactiveResults" value="~[displayprefuser:smartsearch_inactiveresults]">
                [/if#userPref]
                <input type="hidden" name="homesearch" value="1">
            </fieldset>
    
        <!-- Student Search Results / Select By Hand -->
        <div class="box-round search-results" data-ng-class="{'active flexHeight':studentCtrlData.mode=='search'}" data-ng-show="studentCtrlData.mode == 'search'">
            <h2 id="selectByHand">
                ~[text:psx.html.admin.home.search__,param:{{studentCtrlData.searchTracker.numberOfRows}}]
            </h2>
            <div>
                <div class="feedback-alert" data-ng-repeat="error in studentCtrlData.errorsSearch" data-ng-if="(!studentCtrlData.isSearchLoading && studentCtrlData.mode === 'search' && studentCtrlData.students.length < 1 && studentCtrlData.errorsSearch.length > 0)" id="searchErrorFeedback">
                    <span data-ng-bind-html="error"></span>
                </div>
                <div class="feedback-info" data-ng-if="(!studentCtrlData.isSearchLoading && studentCtrlData.mode === 'search' && studentCtrlData.students.length < 1  && studentCtrlData.errorsSearch.length < 1)" id="searchFeedback">
                    <span data-ng-if="studentCtrlData.searchTracker.lastSearchString === null">~[text:psx.html.admin.home.there_are_no_search_results]</span>
                    <span data-ng-if="studentCtrlData.searchTracker.lastSearchString > ''">~[text:psx.html.admin.home.there_are_no_results_in_your_search_of,param:{{studentCtrlData.searchTracker.lastSearchString}}]</span>
                </div>
                <div data-pss-grid-widget id="studentSearchTable" data-ng-show="(!studentCtrlData.isSearchLoading && studentCtrlData.mode === 'search' && studentCtrlData.students.length > 0  && studentCtrlData.errorsSearch.length < 1)" data-pagination-controls="studentCtrlData.searchTracker" data-filter-constraint="no-filters" data-no-grid-box="true" data-no-page-jump="true" data-no-rows-per-page="true">
                    <div class="tableHead">
                        <table>
                            <colgroup>
                                <col>
                                <col>
                                <col data-ng-repeat="option in studentCtrlData.student_select_options">
                                <col data-ng-if="studentCtrlData.isDist">
                            </colgroup>
                            <thead>
                                <tr data-ng-show="studentCtrlData.students.length > 0">
                                    <th class="left"><input type="checkbox" data-ng-model="studentCtrlData.searchTracker.checkAll" data-ng-change="studentCtrlData.searchTracker.toggleSelectionBoxes()" id="selectByHandAll"></th>
                                    <th class="left">~[text:psx.html.admin.home.student]</th>
                                    <th class="center" data-ng-switch on="option" data-ng-repeat="option in studentCtrlData.student_select_options">
                                            <span data-ng-switch-when="studentNumber">~[text:psx.html.admin.home.student_number]</span>
                                            <span data-ng-switch-when="socialSecurityNumber">~[text:psx.html.admin.home.ssn]</span>
                                            <span data-ng-switch-when="dateOfBirth">~[text:psx.html.admin.home.date_of_birth]</span>
                                            <span data-ng-switch-when="gradeLevel">~[text:psx.html.admin.home.grade_level]</span>                                    
                                    </th>
                                    <th class="center" data-ng-if="studentCtrlData.isDist">~[text:psx.html.admin.home.school]</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tableBody">
                        <table data-ng-class="{district:studentCtrlData.isDist, school:!studentCtrlData.isDist}">
                            <colgroup>
                                <col>
                                <col>
                                <col data-ng-repeat="option in studentCtrlData.student_select_options">
                                <col data-ng-if="studentCtrlData.isDist">
                            </colgroup>
                            <tbody>
                                <tr data-ng-repeat="person in studentCtrlData.students">
                                    <td><input type="checkbox" data-ng-model="person.inSelection" data-ng-change="studentCtrlData.searchTracker.selectionChange(person)" class="student-checkbox" id="selectByHand_chk{{person.dcid}}"></td>
                                    <td>{{person.lastFirst}}</td>
                                    <td data-ng-switch on="option" data-ng-repeat="option in studentCtrlData.student_select_options" class="center">
                                            <span data-ng-switch-when="studentNumber">{{person.studentNumber}}</span>
                                            <span data-ng-switch-when="socialSecurityNumber">{{person.socialSecurityNumber}}</span>
                                            <span data-ng-switch-when="dateOfBirth">{{person.dateOfBirth}}</span>
                                            <span data-ng-switch-when="gradeLevel">{{person.gradeLevel}}</span>
                                    </td>
                                    <td data-ng-if="studentCtrlData.isDist" class="center">{{person.schoolAbbreviation}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- End of data-pss-grid-widget -->
                <div class="button-row">
                    <label>~[text:psx.html.admin.home.current_selection]</label>
                    <div class="ps-buttonset">
                        <button data-ng-click="updateSelection('set')" data-ng-disabled="studentCtrlData.showSelectionInSearch || !studentCtrlData.students.length > 0" id="setButton">~[text:psx.html.admin.home.set]</button>
                        <button data-ng-click="updateSelection('add')" data-ng-disabled="studentCtrlData.showSelectionInSearch || !studentCtrlData.students.length > 0" id="addButton">~[text:psx.html.admin.home.add]</button>
                        <button data-ng-click="updateSelection('subtract')" data-ng-disabled="studentCtrlData.showSelectionInSearch || !studentCtrlData.students.length > 0" id="subtractButton">~[text:psx.html.admin.home.subtract]</button>
                        <button data-ng-click="updateSelection('intersect')" data-ng-disabled="studentCtrlData.showSelectionInSearch || !studentCtrlData.students.length > 0" id="WithinButton">~[text:psx.html.admin.home.within]</button>
                    </div>
                    <a href="javascript:helpwindow('/admin/help/how_to/st_01_student_search.html#inline_search_results')" id="searchHelp2">~[text:psx.html.admin.home.help2]</a>
                </div>
            </div>
        </div>
        <!-- End Student Search Results / Select by Hand -->
        <!-- Student Current Selection -->
        <div class="box-round flexHeight current-selection" data-ng-class="{'pseudoDialog':studentCtrlData.editCurrentSelectionMode, 'no-check-col':!studentCtrlData.editCurrentSelectionMode}">
            <h2>~[text:psx.html.admin.home.current_student_selection,param:{{studentCtrlData.selectionTracker.numberOfRows}}]</h2>
            <div>
                <div class="feedback-alert" data-ng-repeat="error in studentCtrlData.errorsSelect" data-ng-if="(!studentCtrlData.isSelectLoading && studentCtrlData.studentSelection.length < 1 && studentCtrlData.errorsSelect.length > 0)" id="selectErrorFeedback">
                    <span  data-ng-bind-html="error"></span>
                </div>
                <div class="feedback-info" data-ng-if="(!studentCtrlData.isSelectLoading && studentCtrlData.studentSelection.length < 1 && studentCtrlData.errorsSelect.length < 1)" id="selectFeedback">
                    <span data-ng-if="studentCtrlData.selectionTracker.lastSearchString === null">~[text:psx.html.admin.home.the_current_selection_is_empty]</span>
                    <span data-ng-if="studentCtrlData.selectionTracker.lastSearchString !== null">~[text:psx.html.admin.home.the_selection_of__has_no_results,param:{{studentCtrlData.selectionTracker.lastSearchString}}]</span>
                </div>
                <div data-pss-grid-widget id="studentSelectionTable" data-ng-show="(!studentCtrlData.isSelectLoading && studentCtrlData.studentSelection.length > 0 && studentCtrlData.errorsSelect.length < 1)" data-pagination-controls="studentCtrlData.selectionTracker" data-filter-constraint="no-filters" data-no-grid-box="true" data-no-page-jump="true" data-no-rows-per-page="true">
                    <div class="tableHead">
                        <table id="studentSelectionBody" data-ng-class="{district:studentCtrlData.isDist, school:!studentCtrlData.isDist}">
                            <colgroup>
                                <col data-ng-if="studentCtrlData.editCurrentSelectionMode">
                                <col>
                                <col data-ng-repeat="option in studentCtrlData.student_select_options">
                                <col data-ng-if="studentCtrlData.isDist">
                            </colgroup>
                            <thead>
                                <tr data-ng-show="studentCtrlData.studentSelection.length > 0">
                                    <th data-ng-if="studentCtrlData.editCurrentSelectionMode" class="left"><input type="checkbox" data-ng-model="studentCtrlData.selectionTracker.checkAll" data-ng-change="studentCtrlData.selectionTracker.toggleSelectionBoxes()" id="selectionAll"></th>
                                    <th class="left">~[text:psx.html.admin.home.student]</th>
                                    <th class="center" data-ng-switch on="option" data-ng-repeat="option in studentCtrlData.student_select_options">
                                            <span data-ng-switch-when="studentNumber">~[text:psx.html.admin.home.student_number]</span>
                                            <span data-ng-switch-when="socialSecurityNumber">~[text:psx.html.admin.home.ssn]</span>
                                            <span data-ng-switch-when="dateOfBirth">~[text:psx.html.admin.home.date_of_birth]</span>
                                            <span data-ng-switch-when="gradeLevel">~[text:psx.html.admin.home.grade_level]</span>                                                                           
                                    </th>
                                    <th class="center" data-ng-if="studentCtrlData.isDist">~[text:psx.html.admin.home.school]</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tableBody">
                        <table data-ng-class="{district:studentCtrlData.isDist, school:!studentCtrlData.isDist}">
                            <colgroup>
                                <col data-ng-if="studentCtrlData.editCurrentSelectionMode">
                                <col>
                                <col data-ng-repeat="option in studentCtrlData.student_select_options">
                                <col data-ng-if="studentCtrlData.isDist">
                            </colgroup>
                            <tbody>
                                <tr data-ng-repeat="person in studentCtrlData.studentSelection">
                                    <td data-ng-if="studentCtrlData.editCurrentSelectionMode"><input type="checkbox" data-ng-model="person.inSelection" data-ng-change="studentCtrlData.selectionTracker.selectionChange(person)" id="selection_chk{{person.dcid}}"></td>
                                    <td><a href="/admin/students/home.html?frn=001{{person.dcid}}" id="selection_lnk{{person.dcid}}" target="_top">{{person.lastFirst}}</a></td>
                                    <td class="center" data-ng-switch on="option" data-ng-repeat="option in studentCtrlData.student_select_options" >      
                                            <span data-ng-switch-when="studentNumber">{{person.studentNumber}}</span>
                                            <span data-ng-switch-when="socialSecurityNumber">{{person.socialSecurityNumber}}</span>
                                            <span data-ng-switch-when="dateOfBirth">{{person.dateOfBirth}}</span>
                                            <span data-ng-switch-when="gradeLevel">{{person.gradeLevel}}</span>                                    
                                    </td>
                                    <td data-ng-if="studentCtrlData.isDist" class="center">{{person.schoolAbbreviation}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- End of data-pss-grid-widget -->
            </div>
            <div class="button-row">
                <button data-ng-show="!studentCtrlData.editCurrentSelectionMode" data-ng-disabled="!(studentCtrlData.studentSelection.length > 0)" data-ng-click="startEditSelection()" id="selectByHandButton">~[text:psx.html.admin.home.select_by_hand]</button>
                <div class="psMultiButton shim-ng menuAboveButton" data-ng-show="!studentCtrlData.editCurrentSelectionMode">
                    <button data-ng-click="runStudentFunction()" data-immediate-execute=true data-ng-disabled="!(studentCtrlData.studentSelection.length > 0)||studentCtrlData.selectedFunction.type==='temp'" class="executeButton" type="button" id="selectedFunctionButton">{{studentCtrlData.selectedFunction.name}}</button>
                    <button class="menuButton" data-ng-disabled="!(studentCtrlData.studentSelection.length > 0)" id="selectFunctionDropdownButton">
                        <em class="ui-icon-white ui-icon ui-icon-triangle-1-s"></em>
                    </button>
                    <ul class="groupFunctions selectable">
                        <li data-ng-repeat="sFunction in studentCtrlData.studentFunctions" data-ng-switch="sFunction.type" data-ng-class="{active:studentCtrlData.selectedFunction === sFunction, category:sFunction.type === 'category', header:sFunction.type === 'header'}">
                            <h2 data-ng-switch-when="header">{{sFunction.name}}</h2>
                            <hr data-ng-switch-when="line" />
                            <label data-ng-switch-when="category">{{sFunction.name}}</label>
                            <a data-ng-switch-default data-ng-click="setSelectedFunction(sFunction)" data-ng-keypress="setSelectedFunction(sFunction, $event)" id="{{sFunction.htmlid}}">{{sFunction.name}}</a>
                        </li>
                    </ul>
                </div>
                <button data-ng-show="studentCtrlData.editCurrentSelectionMode" data-ng-click="endEditSelection(false)" id="cancelButton">~[text:psx.html.admin.home.cancel]</button>
                <button data-ng-show="studentCtrlData.editCurrentSelectionMode" data-ng-click="endEditSelection(true)" data-ng-disable="!studentCtrlData.selectionTracker.ids.length > 0" id="updateSelectionButton">~[text:psx.html.admin.home.update_selection]</button>
                <a href="javascript:helpwindow('/admin/help/how_to/st_01_student_search.html#inline_current_student_selection')" id="searchHelp3">~[text:psx.html.admin.home.help3]</a>
            </div>
        </div>
        <div data-ng-if="studentCtrlData.editCurrentSelectionMode" class="ui-widget-overlay ui-front"></div>
        
        <!-- End Student Current Selection -->
    </div>
</div>
<div class="box-round">
	<h2><a href="/admin/tech/powerTools/monthlyArticles.html" id="monthlyArticlesTitle">Trending PowerSource Articles For </a></h2>
	<p>See what articles are trending for users in PowerSource this month! <a href="/admin/tech/powerTools/monthlyArticles.html">Read more...</a></p>
	<div class="tableBody" id="powerToolsArticles"></div>
</div>
<script>
	var formatedDate = formatMonth();
	function formatMonth(){
		  var date = '~[date]';
		  switch(date.split('/')[0]){
		  case '01':
			  date= 'January, ' + date.split('/')[2];
			  break;
		  case '02':
			  date= 'February, ' + date.split('/')[2];
			  break;
		  case '03':
			  date= 'March, ' + date.split('/')[2];
			  break;
		  case '04':
			  date= 'April, ' + date.split('/')[2];
			  break;
		  case '05':
			  date= 'May, ' + date.split('/')[2];
			  break;
		  case '06':
			  date= 'June, ' + date.split('/')[2];
			  break;
		  case '07':
			  date= 'July, ' + date.split('/')[2];
			  break;
		  case '08':
			  date= 'August, ' + date.split('/')[2];
			  break;
		  case '09':
			  date= 'September, ' + date.split('/')[2];
			  break;
		  case '10':
			  date= 'October, ' + date.split('/')[2];
			  break;
		  case '11':
			  date= 'November, ' + date.split('/')[2];
			  break;
		  case '12':
			  date= 'December, ' + date.split('/')[2];
		  }
		  return date;
	}
	$j('#monthlyArticlesTitle').append(formatedDate);
</script>
    ~[wc:admin_startpage_whats_new]
</div>
~[wc:admin_footer_css]
~[if.~[gpv:samlTarget]=][else]
<script>
    $j(function() {
        var url = '~[gpv:samlTarget]';
        window.open(url, '_blank');
    });    
</script>
[/if]
<script>
pss_get_texts("psx.html.admin.home.");
var studentFunctions = [
{
    name:pss_text('psx.html.admin.home.group_functions'),
    type:'header'
},
{
    name: pss_text('psx.html.admin.home.functions.student_screens'),
    address:'/admin/studentlist/counselor/home.html'
},
{
    name:pss_text('psx.html.admin.home.functions.attendance'),
    type:'category'
},
{
    name:pss_text('psx.html.admin.home.functions.attendance_change'),
    address:'/admin/attendance/record/batch/meetinggroup.html?dothisfor=selected'
},
~[if.prefyearschool.att_BackfillOn=1]
{
    name:pss_text('psx.html.admin.home.functions.backfill_management'),
    address:'/admin/attendance/backfill/home.html'
},
[/if]
{
    name:pss_text('psx.html.admin.home.functions.search_by_gradesattendance'),
    address:'/admin/reports/specialstudentsearch1.html'
},
{
    name:pss_text('psx.html.admin.home.functions.search_for_perfect_attendance'),
    address:'/admin/reports/perfectattendance1.html'
},
{
    name:pss_text('psx.html.admin.home.functions.enrollment'),
    type:'category'
},
{
    name:pss_text('psx.html.admin.home.functions.enrollment_summary'),
    address:'/admin/reports/ethnicitybreakdown.html?dothisfor=selected'
},
{
    name:pss_text('psx.html.admin.home.functions.mass_enroll_special_program'),
    address:'/admin/studentlist/massenrollspecialprogram.html'
},
{
    name:pss_text('psx.html.admin.home.functions.reenroll_in_school'),
    address:'/admin/studentlist/massreenroll.html?dothisfor=selected'
},
{
    name:pss_text('psx.html.admin.home.functions.transfer_out_of_school'),
    address:'/admin/studentlist/transferout.html?dothisfor=selected'
},
{
    name:pss_text('psx.html.admin.home.functions.export'),
    type:'category'
},
{
    name:pss_text('psx.html.admin.home.functions.export_using_template'),
    address:'/admin/importexport/exportusingtemplate/home.html?dothisfor=selected&filenum=1'
},
{
    name:pss_text('psx.html.admin.home.functions.list_students'),
    address:'/admin/studentlist/studentlist1.html'
},
{
    name:pss_text('psx.html.admin.home.functions.quick_export'),
    address:'/admin/importexport/exportstudents.html?dothisfor=selected'
},
{
    name:pss_text('psx.html.admin.home.functions.functions'),
    type:'category'
},
{
    name:pss_text('psx.html.admin.home.functions.fee_functions'),
    address:'/admin/studentlist/feefunctions.html'
},
~[if.~(studentscreenaccess;health/home_health.html)=1]
{
    name:pss_text('psx.html.admin.home.functions.health_screenings'),
    address:'/admin/health/healthScreenings.html'
},
[/if]
{
    name:pss_text('psx.html.admin.home.functions.idpassword_assignment'),
    address:'/admin/functions/assignids.html'
},
{
    name:pss_text('psx.html.admin.home.functions.ldap_directory_synchronization'),
    address:'/admin/security/ldapstudentsync.html'
},
{
    name:pss_text('psx.html.admin.home.functions.mass_create_family_links'),
    address:'/admin/family/bulkchange.html'
},
{
    name:pss_text('psx.html.admin.home.functions.student_field_value'),
    address:'/admin/tech/changefieldvalue.html?stofa=student'
},
{
    name:pss_text('psx.html.admin.home.functions.graduation'),
    type:'category'
},
{
    name:pss_text('psx.html.admin.home.functions.graduation_plan_selection'),
    address:'/admin/studentlist/GraduationPlanner/GradPlanSelect.html?DOTHISFOR=selected'
},
{
    name:pss_text('psx.html.admin.home.functions.graduation_progress_report'),
    address:'/admin/studentlist/GraduationPlanner/GradPlanMultiParams.html'
},
{
    name:pss_text('psx.html.admin.home.functions.graduation_progress_summary'),
    address:'/admin/studentlist/GraduationPlanner/GradPlanSummaryParams.html'
},
{
    name:pss_text('psx.html.admin.home.functions.printing'),
    type:'category'
},
~[if.win]
{
    name:pss_text('psx.html.admin.home.functions.mass_print_a_student_screen'),
    address:'/admin/studentlist/counselor/massprint.html'
},
[/if]
{
    name:pss_text('psx.html.admin.home.functions.print_mailing_labels'),
    address:'/admin/mailinglabels/print.html?dothisfor=selected'
},
{
    name:pss_text('psx.html.admin.home.functions.print_reports'),
    address:'/admin/studentlist/printformletters.html?dothisfor=selected'
},
{
    name:pss_text('psx.html.admin.home.functions.reports_menu'),
    address:'/admin/reports/home.html'
},
{
    name:pss_text('psx.html.admin.home.functions.scheduling'),
    type:'category'
},
{
    name:pss_text('psx.html.admin.home.functions.invalid_requests'),
    address:'/admin/studentlist/invalidrequest/params.html'
},
{
    name:pss_text('psx.html.admin.home.functions.mass_enroll'),
    address:'/admin/studentlist/massenroll.html'
},
{
    name:pss_text('psx.html.admin.home.functions.next_school_indicator'),
    address:'/admin/studentlist/nextschool.html'
},
{
    name:pss_text('psx.html.admin.home.functions.student_schedule_report'),
    address:'/admin/reports/studschedmatrixprefs.html'
},
{
    name:pss_text('psx.html.admin.home.functions.summer_school_indicator'),
    address:'/admin/studentlist/summerschoolind.html'
},
{
    name:pss_text('psx.html.admin.home.functions.search'),
    type:'category'
},
{
    name:pss_text('psx.html.admin.home.functions.save_stored_selection'),
    address:'/admin/storedselections/home.html?table=1&selection=new'
},
{
    name:pss_text('psx.html.admin.home.functions.search_attachments'),
    address:'/admin/students/studentattachments.html'
},
{
    name:pss_text('psx.html.admin.home.functions.search_by_gpa'),
    address:'/admin/studentlist/specialsearchfunctions.html'
},
{
    name:pss_text('psx.html.admin.home.functions.validation'),
    type:'category'
},
{
    name:pss_text('psx.html.admin.home.functions.batch_address_validation'),
    address:'/admin/validation/batchvalidate.html'
},
{
    name:pss_text('psx.html.admin.home.functions.batch_boundary_validation'),
    address:'/admin/validation/batchvalidateboundaries.html'
},
{
    name:pss_text('psx.html.admin.home.functions.data_validation_report'),
    address:'/admin/datavalidation/functions/reportParams.action?currentSelectionType=students'
},
{
    name:pss_text('psx.html.admin.home.functions.immunization_compliance'),
    address:'/admin/health/searchImmunizationCompliance.html'
}];

searchModes = {
    search:pss_text('psx.html.admin.home.search'),
    select:pss_text('psx.html.admin.home.select')
};

var selectFunctionObj = {
    name:pss_text('psx.html.admin.home.select_function'),
    type:'temp'
};

var numSelectedStudents = ~[x:studsinset];

~[if.district.office]
var isDistrict = true;
[/if.district.office]
 ~[brij_render_insert:i18n_svc:frontPageNameLettersJSON]
</script>

<script>
  var student_field_list = pss_text('psx.html.admin.home.student_field_list');
</script>
</body>
</html>
